<div class="info-container">
  <div class="info-pic">
    <img class="profile-pic" src="assets/LinkedInProfilePicture1.jpg" />
  </div>
  <div class="info-text">
    <div class="icon-row">
      <div class="linkedin">
        <a href="https://www.linkedin.com/in/brendancoletta/">
          <img class="media-icon" src="assets/linkedin-logo.png" />
        </a>
      </div>
      <div class="resume-link">
        <a href="https://drive.google.com/file/d/12flN6d7kdUZBOVjfZ-_CLDxfEvfFbE7p/view?usp=sharing">
          <img class="media-icon" src="assets/Filetype-Docs-icon.png" />
        </a>
      </div>
    </div>
    <div class="name">Brendan Coletta</div>
    <div class="email">bc.coletta@gmail.com</div>
    <div class="address">St. Louis, Missouri</div>
  </div>
</div>
