.top-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: center;
}

h2 {
  font-style: italic;
  color: #1950b2;
}
